<section>
    <div class="heroText">
        <h1>
            Premuim <span>quality</span>  <br> Food for your <span class="bananaContainer"> <img src="https://img.icons8.com/?size=100&id=81292&format=png&color=000000" width="35" class="banana" alt=""></span> <span>healthy</span>  <br><span class="appleContainer"><img src="https://img.icons8.com/?size=100&id=5J0YM2MKuxZO&format=png&color=000000" width="35" alt="" class="apple"></span><span> & Daily Life</span>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="getStarted">
                    <input pInputText id="username" placeholder="Enter your delivery location" [(ngModel)]="value" />
                    <p-button label="Get Started" severity="contrast" />

        </div>
        <p>Popular cities in Ghana</p>
        <ul class="cities">
            <li>Accra</li>
            <li>Tema</li>
            <li>Spintex</li>
            <li>Kasoa</li>
        </ul>
    </div>
    <div class="images">
                <img src="https://zzskcvemurwhxnpemfzm.supabase.co/storage/v1/object/public/web/Rectangle_1_(1).png" alt="" class="firstImg">
                <img src="https://zzskcvemurwhxnpemfzm.supabase.co/storage/v1/object/public/web/Rectangle_2_(1).png" alt="" class="secondImg">
    </div>
</section>