<h2>Nearby Restaurants</h2>
<div *ngIf="loading"><p-progressSpinner ariaLabel="loading" /></div>
<div *ngIf="!loading && shopItems.length === 0">No food items available.</div>
<div *ngIf="!loading && shopItems.length > 0" class="foods">
    <div *ngFor="let item of shopItems" class="food-item">
        <img [src]="item.image_url" alt="{{ item.name }}" width="150">
        <h3>{{ item.name }}</h3>
        <p>{{ item.type }}</p>
        <div class="foodItemFooter">
            <p><i class="pi pi-truck"></i>{{ item.delivery_time }}</p>
            <p><i class="pi pi-users"></i>{{ item.cost_for_two }}</p>
        </div>

    </div>
</div>